<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<table>
    <tr id="simpleGridTemplate1">
        <td id="id"></td>
        <td id="name"></td>
        <td><span id="nationality.description"></span> (<span id="nationality.code"></span>)</td>
        <td><a th:href="@{/viewPerson/} + '{id}'"><img th:src="@{/images/person-info.png}" /></a></td>
        <td><a th:href="@{/editPerson/} + '{id}'"><img th:src="@{/images/person-edit.png}" /></a></td>
    </tr>
    
    <tr id="simpleGridTemplate">
        <td id="id"></td>
        <td id="name"></td>
        <td><span id="nationality.description"></span> (<span id="nationality.code"></span>)</td>
        <td><button type="button" class="btn btn-default" id="showPersonInfo" data-toggle="modal" data-target="#viewModal"><img th:src="@{/images/person-info.png}" /></button></td>
        <td><button type="button" class="btn btn-default" id="editPerson" data-toggle="modal" data-target="#myModal"><img th:src="@{/images/person-edit.png}" /></button></td>
    </tr>
    
</table>


<table>
    <tr id="gridWithRenderersTemplate">
        <td id="id"></td>
        <td id="name"></td>
        <td id="nationality.description"></td>
        <td id="genderRenderer"></td>
        <td id="active"></td>
    </tr>
</table>

<table>
    <tr id="gridWithEditableComponentsTemplate">
        <td id="id"></td>
        <td id="name"></td>
        <td id="nationality"></td>
        <td id="genderRenderer"></td>
        <td id="active"></td>
        <td><input id="comments" type="text" /></td>
    </tr>
</table>

<table>
    <tr id="sortableGridTemplate">
        <td id="id"></td>
        <td id="name"></td>
        <td><span id="nationality.description"></span> (<span id="nationality.code"></span>)</td>
    </tr>
</table>

</html>