.classpath
.project
.settings/oracle.eclipse.tools.webtier.ui.prefs
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.hibernate.eclipse.console.prefs
src/main/java/com/mpodda/m2m_js/controllers/PDFKitController.java
src/main/resources/static/pdfkit/ARIAL.TTF
src/main/resources/static/pdfkit/ARIALBD.TTF
src/main/resources/static/pdfkit/ARIALBI.TTF
src/main/resources/static/pdfkit/ARIALI.TTF
src/main/resources/static/pdfkit/ARIALN.TTF
src/main/resources/static/pdfkit/ARIALNB.TTF
src/main/resources/static/pdfkit/ARIALNBI.TTF
src/main/resources/static/pdfkit/ARIALNI.TTF
src/main/resources/static/pdfkit/ARIBLK.TTF
src/main/resources/static/pdfkit/blob-stream.js
src/main/resources/static/pdfkit/CALIBRI.TTF
src/main/resources/static/pdfkit/CALIBRIB.TTF
src/main/resources/static/pdfkit/CALIBRII.TTF
src/main/resources/static/pdfkit/CALIBRIL.TTF
src/main/resources/static/pdfkit/CALIBRILI.TTF
src/main/resources/static/pdfkit/CALIBRIZ.TTF
src/main/resources/static/pdfkit/COUR.TTF
src/main/resources/static/pdfkit/COURBD.TTF
src/main/resources/static/pdfkit/COURBI.TTF
src/main/resources/static/pdfkit/COURI.TTF
src/main/resources/static/pdfkit/hr-report.js
src/main/resources/static/pdfkit/moment.min.js
src/main/resources/static/pdfkit/OPENSANS-BOLD.TTF
src/main/resources/static/pdfkit/OPENSANS-BOLDITALIC.TTF
src/main/resources/static/pdfkit/OPENSANS-ITALIC.TTF
src/main/resources/static/pdfkit/OPENSANS-REGULAR.TTF
src/main/resources/static/pdfkit/pdfkit.standalone.js
src/main/resources/static/pdfkit/TestReportData-2.js
src/main/resources/static/pdfkit/TestReportData.js
src/main/resources/static/pdfkit/verdana.ttf
src/main/resources/static/pdfkit/verdanab.ttf
src/main/resources/static/pdfkit/verdanai.ttf
src/main/resources/static/pdfkit/verdanaz.ttf
src/main/resources/static/pdfmake/hr-report.js
src/main/resources/static/pdfmake/moment.min.js
src/main/resources/static/pdfmake/pdfmake.js
src/main/resources/static/pdfmake/pdfmake.min.js
src/main/resources/static/pdfmake/TestReportData-2.js
src/main/resources/static/pdfmake/vfs_fonts.js
src/main/resources/templates/pdfkit/test1.html
src/main/resources/templates/pdfmake/test1.html
target/classes/static/pdfkit/ARIAL.TTF
target/classes/static/pdfkit/ARIALBD.TTF
target/classes/static/pdfkit/ARIALBI.TTF
target/classes/static/pdfkit/ARIALI.TTF
target/classes/static/pdfkit/ARIALN.TTF
target/classes/static/pdfkit/ARIALNB.TTF
target/classes/static/pdfkit/ARIALNBI.TTF
target/classes/static/pdfkit/ARIALNI.TTF
target/classes/static/pdfkit/ARIBLK.TTF
target/classes/static/pdfkit/blob-stream.js
target/classes/static/pdfkit/CALIBRI.TTF
target/classes/static/pdfkit/CALIBRIB.TTF
target/classes/static/pdfkit/CALIBRII.TTF
target/classes/static/pdfkit/CALIBRIL.TTF
target/classes/static/pdfkit/CALIBRILI.TTF
target/classes/static/pdfkit/CALIBRIZ.TTF
target/classes/static/pdfkit/COUR.TTF
target/classes/static/pdfkit/COURBD.TTF
target/classes/static/pdfkit/COURBI.TTF
target/classes/static/pdfkit/COURI.TTF
target/classes/static/pdfkit/hr-report.js
target/classes/static/pdfkit/moment.min.js
target/classes/static/pdfkit/OPENSANS-BOLD.TTF
target/classes/static/pdfkit/OPENSANS-BOLDITALIC.TTF
target/classes/static/pdfkit/OPENSANS-ITALIC.TTF
target/classes/static/pdfkit/OPENSANS-REGULAR.TTF
target/classes/static/pdfkit/pdfkit.standalone.js
target/classes/static/pdfkit/TestReportData-2.js
target/classes/static/pdfkit/TestReportData.js
target/classes/static/pdfkit/verdana.ttf
target/classes/static/pdfkit/verdanab.ttf
target/classes/static/pdfkit/verdanai.ttf
target/classes/static/pdfkit/verdanaz.ttf
target/classes/static/pdfmake/hr-report.js
target/classes/static/pdfmake/moment.min.js
target/classes/static/pdfmake/pdfmake.js
target/classes/static/pdfmake/pdfmake.min.js
target/classes/static/pdfmake/TestReportData-2.js
target/classes/static/pdfmake/vfs_fonts.js
target/m2m-js-2.0.jar
target/m2m-js-2.0.jar.original
target/classes/templates/pdfkit/test1.html
target/classes/application.properties
target/classes/com/mpodda/m2m_js/DataInitRunner.class
target/classes/com/mpodda/m2m_js/M2MJSApplication.class
target/classes/com/mpodda/m2m_js/RepositoryConfiguration.class
target/classes/com/mpodda/m2m_js/SecurityConfiguration.class
target/classes/com/mpodda/m2m_js/controllers/FormController.class
target/classes/com/mpodda/m2m_js/controllers/GridController.class
target/classes/com/mpodda/m2m_js/controllers/MenuController.class
target/classes/com/mpodda/m2m_js/controllers/PDFKitController.class
target/classes/com/mpodda/m2m_js/controllers/TemplateController.class
target/classes/com/mpodda/m2m_js/domain/Nationality.class
target/classes/com/mpodda/m2m_js/domain/Person.class
target/classes/com/mpodda/m2m_js/repository/NationalityRepository.class
target/classes/com/mpodda/m2m_js/repository/PersonRepository.class
target/classes/static/favicon.ico
target/classes/static/app/grid/common.js
target/classes/static/app/grid/gridWithEditableComponents.js
target/classes/static/app/grid/gridWithPaging.js
target/classes/static/app/grid/gridWithRenderers.js
target/classes/static/app/grid/simpleGrid.js
target/classes/static/app/grid/sortableGrid.js
target/classes/static/css/font-awesome.css
target/classes/static/css/site.css
target/classes/static/css/site.min.css
target/classes/static/css/sort.css
target/classes/static/font/fontawesome-webfont.eot
target/classes/static/font/fontawesome-webfont.svg
target/classes/static/font/fontawesome-webfont.ttf
target/classes/static/font/fontawesome-webfont.woff
target/classes/static/font/FontAwesome.otf
target/classes/static/images/banner1.svg
target/classes/static/images/banner2.svg
target/classes/static/images/banner3.svg
target/classes/static/images/banner4.svg
target/classes/static/images/man-2.png
target/classes/static/images/man.png
target/classes/static/images/person-edit.png
target/classes/static/images/person-info.png
target/classes/static/images/sort_asc.png
target/classes/static/images/sort_both.png
target/classes/static/images/sort_desc.png
target/classes/static/images/woman.png
target/classes/static/js/site.js
target/classes/static/js/site.min.js
target/classes/static/lib/bootstrap/.bower.json
target/classes/static/lib/bootstrap/LICENSE
target/classes/static/lib/bootstrap/dist/css/bootstrap-theme.css
target/classes/static/lib/bootstrap/dist/css/bootstrap-theme.css.map
target/classes/static/lib/bootstrap/dist/css/bootstrap-theme.min.css
target/classes/static/lib/bootstrap/dist/css/bootstrap-theme.min.css.map
target/classes/static/lib/bootstrap/dist/css/bootstrap.css
target/classes/static/lib/bootstrap/dist/css/bootstrap.css.map
target/classes/static/lib/bootstrap/dist/css/bootstrap.min.css
target/classes/static/lib/bootstrap/dist/css/bootstrap.min.css.map
target/classes/static/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
target/classes/static/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
target/classes/static/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
target/classes/static/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
target/classes/static/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
target/classes/static/lib/bootstrap/dist/js/bootstrap.js
target/classes/static/lib/bootstrap/dist/js/bootstrap.min.js
target/classes/static/lib/bootstrap/dist/js/npm.js
target/classes/static/lib/jquery/.bower.json
target/classes/static/lib/jquery/LICENSE.txt
target/classes/static/lib/jquery/dist/jquery.js
target/classes/static/lib/jquery/dist/jquery.min.js
target/classes/static/lib/jquery/dist/jquery.min.map
target/classes/static/lib/jquery-validation/.bower.json
target/classes/static/lib/jquery-validation/LICENSE.md
target/classes/static/lib/jquery-validation/dist/additional-methods.js
target/classes/static/lib/jquery-validation/dist/additional-methods.min.js
target/classes/static/lib/jquery-validation/dist/jquery.validate.js
target/classes/static/lib/jquery-validation/dist/jquery.validate.min.js
target/classes/static/lib/jquery-validation-unobtrusive/.bower.json
target/classes/static/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
target/classes/static/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
target/classes/static/m2mjs/m2mjs_common.js
target/classes/static/m2mjs/m2mjs_validator.js
target/classes/static/m2mjs/m2mjs.js
target/classes/static/m2mjs/myComponents.js
target/classes/static/m2mjs/3/m2mjs_1.js
target/classes/static/m2mjs/3/m2mjs.js
target/classes/static/m2mjs/3/myComponents.js
target/classes/static/m2mjs/3/temp/m2mjs.js
target/classes/static/m2mjs/3.1/m2mjs.js
target/classes/static/m2mjs/3.1/myComponents.js
target/classes/static/m2mjs/3.2/m2mjs.js
target/classes/static/m2mjs/3.3/m2mjs.js
target/classes/static/m2mjs/3.3.1/m2mjs.js
target/classes/templates/layout-m2m-js.html
target/classes/templates/application/about.html
target/classes/templates/application/contact.html
target/classes/templates/application/home.html
target/classes/templates/application/form/index.html
target/classes/templates/application/form/simpleEditForm.html
target/classes/templates/application/form/simpleFormWithValidation.html
target/classes/templates/application/form/simpleViewForm.html
target/classes/templates/application/grid/gridWithEditableComponents.html
target/classes/templates/application/grid/gridWithPaging.html
target/classes/templates/application/grid/gridWithRenderers.html
target/classes/templates/application/grid/index.html
target/classes/templates/application/grid/simpleGrid.html
target/classes/templates/application/grid/sortableGrid.html
target/classes/templates/application/templates/formTemplates.html
target/classes/templates/application/templates/gridTemplates.html
target/classes/templates/pdfmake/test1.html
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.vscode/settings.json
target/classes/com/mpodda/m2m_js/domain/IdentifiableEntity.class
target/classes/com/mpodda/m2m_js/repository/AbstractJpaDao.class
target/classes/com/mpodda/m2m_js/repository/INationalityRepository.class
target/classes/com/mpodda/m2m_js/repository/IPersonRepository.class
target/classes/com/mpodda/m2m_js/rest/NationalityRestController.class
target/classes/com/mpodda/m2m_js/rest/PersonRestController.class
target/classes/com/mpodda/m2m_js/service/IdentifiableEntityService.class
target/classes/com/mpodda/m2m_js/service/NationalityService.class
target/classes/com/mpodda/m2m_js/service/PersonService.class
target/classes/com/mpodda/m2m_js/util/Serializer.class
target/classes/static/app/common/common.js
target/classes/static/images/man_2.png
target/classes/static/m2mjs/2.0/m2mjs_common.js
target/classes/static/m2mjs/2.0/m2mjs_validator.js
target/classes/static/m2mjs/2.0/m2mjs.js
target/classes/static/m2mjs/2.0/myComponents.js
target/classes/static/m2mjs/3.3.2/m2mjs.js
target/classes/static/m2mjs/components/myComponents.js
src/main/java/com/mpodda/m2m_js/trash/observer_observable_test/NewsAgency.java
src/main/java/com/mpodda/m2m_js/trash/observer_observable_test/NewsPaperChanel.java
src/main/java/com/mpodda/m2m_js/trash/observer_observable_test/ObsObsApp.java
src/main/java/com/mpodda/m2m_js/trash/observer_observable_test/TvChannel.java
target/classes/templates/application/form/ooTest.html
target/classes/com/mpodda/m2m_js/controllers/StateController.class
target/classes/com/mpodda/m2m_js/trash/observer_observable_test/NewsAgency.class
target/classes/com/mpodda/m2m_js/trash/observer_observable_test/NewsPaperChanel.class
target/classes/com/mpodda/m2m_js/trash/observer_observable_test/ObsObsApp.class
target/classes/com/mpodda/m2m_js/trash/observer_observable_test/TvChannel.class
target/classes/static/app/form/observerObservableTest.js
target/classes/static/app/form/simpleEditForm.js
target/classes/static/app/state/updateOnStateChange.js
target/classes/static/css/calendar.css
target/classes/static/js/Observer-Obervable.js
target/classes/static/m2mjs/3.4/m2mjs.js
target/classes/static/m2mjs/components/Calendar - Copy.js
target/classes/static/m2mjs/components/Calendar.js
target/classes/templates/application/form/formTemplatesFragment.html
target/classes/templates/application/state/updateOnStateChange.html
.vscode/launch.json
src/main/resources/static/m2mjs/components/Calendar - Copy.js
src/main/resources/templates/application/form/ooTest.html
src/main/resources/static/app/form/observerObservableTest.js
src/main/resources/static/js/Observer-Obervable.js
