<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout-m2m-js">

<head>
    <title>Update UI On State Change</title>
    <link rel="stylesheet" th:href="@{/css/sort.css}" />
</head>

<body>
    <span layout:fragment="local-templates">
        <template id="listTemplate">
            <tr>
                <td id="_name"></td>
                <td id="deleteName"><button class="btn btn-default" id="btnDelete">Delete</button></td>
            </tr>
        </template>
    </span>

    <div layout:fragment="content">

        <h2>The notorious 'Update UI On State Change'</h2>
        <div class="row">
            <div class="col-md-1"><label for="txtName">Name: </label></div>
            <div class="col-md-4"><input type="text" id="txtName" /></div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <table class="table table-hover" style="margin-top: 10px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="namesPlaceHolder">

                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="row">
            <div class="btn-toolbar">
                <a class="btn btn-success" th:href="@{/grid}"><i class="icon-list"></i> Return to Grid main screen</a>
            </div>
        </div> -->

        <script type="text/javascript" th:src="@{/app/state/updateOnStateChange.js}"></script>
    </div>

</body>

</html>