<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout-m2m-js">

<head>
	<title th:text="About"></title>
</head>

 <body>
  	<div layout:fragment="content">
		<h2>Demo of m2m-js</h2>
		<h3>Vanilla Javascript Libraries</h3>
		
		<p>m2m-js is a bundle of various libraries to help Javascript developers</p>
		
		<p>Provides help at form values binding to an object, data grid rendering, form values validation.</p>
		
		<p>For form binding and grid rendering, all HTML code be provided as Template. The binding point is the id of the HTML element in question</p>  		
	</div>
</body>
</html>
