<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout-m2m-js">

<head>
	<title th:text="Contact"></title>
</head>

 <body>
  	<div layout:fragment="content">
		<h2>Marcello Podda</h2>
		<h3>Software Analysis, Engineering &amp; Consulting</h3>
		
		<address>
		   Athens, Greece
		</address>
		
		<address>
		    <strong>Contact:</strong> <a href="mailto:podda.m@gmail.com">podda.m@gmail.com</a>
		</address>
	</div>
</body>
</html>
