<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout-m2m-js">

<head>
	<title>Simple Form</title>
	<link rel="stylesheet" th:href="@{/css/calendar.css}" />
</head>

<body>
	<span layout:fragment="local-templates">
		<form-templates th:insert="application/form/formTemplatesFragment.html :: form-templates">
		</form-templates>
	</span>


	<div layout:fragment="content">


		<h2>Simple Edit Form</h2>
		<div class="row">
			<div class="col-md-4">
				<div id="formPlaceHolder"></div>
			</div>
		</div>

		<div class="row">
			<div class="btn-toolbar">
				<div class="btn btn-primary" id="btnSaveData"><i class="icon-save"></i> Save</div>
				<a class="btn btn-success" th:href="@{/form}"><i class="icon-list"></i> Return to Form</a>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/app/form/simpleEditForm.js}"></script>
	</div>

</body>

</html>